@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0px;
    text-align: left;
    padding: 0px;
}

/*Aside e Paragrafos*/
header {
    padding-bottom: 350px;
    background-color: black;
    position: relative;
}

header>#titulo {
    left: 15%;
    position: absolute;
    font-size: 120px;
    color: rgb(254, 202, 15);
    text-align: center;
    transform: translate(0%, 55%);

    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}

header>#nomeA {
    top: 50%;
    left: 40%;
    font-size: 35px;
    color: white;
    text-align: center;
    transform: translate(0%, 50%);
    position: absolute;

    font-family: "Nothing You Could Do", cursive;
    font-weight: 400;
    font-style: normal;
}
#nomeA>a{
    text-decoration: none;
    color: white;
}
#nomeA>a:hover{
    text-decoration: underline;
}

aside>p {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

#part1 {
    background-color: rgb(255, 255, 255);
    background-position: right top;
    max-height: 100px;
    min-height: 600px;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding: 50px 0px 0px 50px;

    box-shadow:inset 0px 0px 10px rgba(0, 0, 0, 0.51);
}

#part2 {
    background-image: url("../imagens/background001.jpg");
    /*background-color: blue;*/
    background-position: right center;
    max-height: 100px;
    min-height: 600px;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding: 50px 0px 0px 50px;

    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.51);
}

#part3 {
    background-color: rgb(255, 255, 255);
    max-height: 100px;
    min-height: 1200px;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding: 55px 0px 0px 50px;

    box-shadow:inset 0px 0px 10px rgba(0, 0, 0, 0.51);

}

#part4 {
    background-image: url("../imagens/background002.jpg");
    /*background-color: blue;*/
    background-position: right center;
    max-height: 100px;
    min-height: 600px;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding: 50px 0px 0px 50px;

    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.51);

}

#part5 {
    background-color: rgb(255, 255, 255);
    max-height: 100px;
    min-height: 1350px;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding: 130px 0px 0px 50px;

    box-shadow:inset 0px 0px 10px rgba(0, 0, 0, 0.51);
}

#text1 {
    width: 500px;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
    font-size: 40px;
    line-height: 75px;
    color: rgb(0, 0, 0);
    outline-style: dotted;
    outline-color: rgb(211, 211, 211);
}

#text2 {
    width: 500px;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
    font-size: 40px;
    line-height: 75px;
    color: rgb(254, 202, 15);
    outline-style: dotted;
    outline-color: rgb(69, 69, 69);
}

#text3 {
    width: 500px;
    padding: 20px;
    border-radius: 10px;
    font-size: 40px;
    line-height: 75px;
    color: rgb(0, 0, 0);
    outline-style: dotted;
    outline-color: rgb(211, 211, 211);
}

#text4 {
    width: 500px;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
    font-size: 40px;
    line-height: 75px;
    color: rgb(254, 202, 15);
    background-color: rgba(0, 0, 0, 0.488);
    outline-style: dotted;
    outline-color: rgb(80, 80, 80);
}

#text5 {
    width: 500px;
    padding: 20px;
    border-radius: 10px;
    font-size: 40px;
    line-height: 75px;
    color: rgb(0, 0, 0);
    outline-style: dotted;
    outline-color: rgb(211, 211, 211);
}

footer {
    background-color: black;
    font-size: 25px;
    text-align: center;
    margin: auto;
    padding: 40px 0px 40px 0px;
    color: rgb(254, 202, 15);

    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
footer>a{
    font-family: "Rubik", sans-serif;
    font-weight: 700;
    color:  rgb(254, 202, 15);
    text-decoration: none;
}
footer>a:hover{
    text-decoration: underline;
    color: rgb(255, 255, 255);
    transition: 1s;
}