@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0px;
    padding: 0px;
}
:root{
    --Rubik: "Rubik";
    --Nothing: "Nothing You Could Do";

    /*cores*/
    --cor1: #feca0f;
    --cor2: #ffffff;
}

html,
body {
    min-height: 100vh;
    background-color: darkgray;
}

/*Aside e Paragrafos*/
header {
    background-color: black;
    text-align: center;
}

header>h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-size: 9vw;

    font-family: var(--Rubik), Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-style: normal;
    display: inline-block;
    color: var(--cor1);
}

header>p {
    padding-bottom: 50px;
    font-size: 2vw;

    font-family: var(--Nothing), Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--cor2);
}

header a,
footer a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

header a:hover,
footer a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;

    font-family: var(--Rubik), Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 2.5vw;
}

section.normal {
    background-color: white;
    color: black;
    padding: 40px;
}

section.imagem {
    color: white;
}
section#img1{
    background-image: url(../imagens/background001.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right top;
}
section#img2{
    background-image: url(../imagens/background002.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right top;
}

section.imagem>p {
    width: 400px;
    background-color: rgba(0, 0, 0, 0.482);
    display: block;
    width: 50vw;
    padding: 20px;
    color: var(--cor1);
    font-weight: 400;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;

    font-family: var(--Rubik), Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 2vw;
}